{{yield}}
<div class="card">

  <div class="header">
    <i class='ion-ios-basketball-outline'></i>
    <h3>{{name}}</h3>
    <p>NCAAB</p>
  </div>

  <div class="meter">
    <div class="amount">/$5,000</div>
    <div class="fill"></div>
  </div>

  <div class="investors">
    <h5>2</h5>
    <p>Investors</p>
  </div>
  <div class="minimum">
    <h5>$100</h5>
    <p>Minimum</p>
  </div>
  <div class="remaining">
    <h5>6 days</h5>
    <p>Remaining</p>
  </div>

</div>