@import 'color';
@import 'bootstrap';
// @import 'bootstrap/theme';
@import 'landing';
@import 'login';
@import 'signup';
@import 'menu';
@import 'card';
@import 'instructions';
@import 'loginbuttons';

* {
  margin: 0;
  padding: 0;
  max-width: 100vw;
}

body, html {
  font-family: avenir;
  background-color: $background-color;
  padding: 0;
  margin: 0;
  max-width: 100vw;

  a:hover {
    text-decoration: none;
  }

  button:focus {
    outline: none;
  }
}