{{outlet}}
<div class="instructions">
  <h3> BettorHalf is the smartest way to bet on sports </h3>
  <p>We offer a wide selection of sports funds, managed by many of the most successful sports bettors in the world</p>


  {{#link-to 'instruction2'}}
    <button class="next"> <i class="ion-android-arrow-forward"></i> </button>
  {{/link-to}}
</div>


{{login-signup}}
