{{outlet}}
<div class="instructions">
  <h3>Simply choose an account & Invest the amount you want</h3>
  <p>Your funds will be applied to the relevant events and you will receive a notification before they begin</p>

  {{#link-to 'instruction3'}} 
    <button class="next"> <i class="ion-android-arrow-forward"></i> </button>
  {{/link-to}}

</div>

{{login-signup}}