{{outlet}}
<div class="instructions">
  <h3> Your investment will fluctuate based on the outcome of the events </h3>
  <p> Request a withdrawal immediately following the last chosen event </p>
</div>

{{login-signup}}
