{{outlet}}

{{side-menu}}

<div class="landing">
  <h3 class="welcome">Welcome to BettorHalf</h3>
  <p class="slogan">The better way to invest</p>
  {{#link-to 'instruction'}} 
    <button class="learnmore">Click to learn more</button> 
  {{/link-to}}
</div>
{{login-signup}}
